<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="../../style.css">
</head>
<body id="base">
<div id="works" class="margin">
        <a href="../../index.html">>作品一覧へ</a><br><small>スクロールしてください。</small><br><br>
        <h1>title</h1>
</div>
<!--id works(-text) worksImg(image) class tate(tate text)-->
<!-- <img src=".png alt="『』@Kiichi_Yuumi"> -->
<div id="works">
</div>

<script src="../../script.js"></script>
<script src="script.js"></script>
</body>
</html>